.profile-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
    background-color: rgb(86, 85, 85);
}
.profile-parent{
    display: flex;
    align-items: center;
    color: blanchedalmond;
}
.profile-details-name{
    font-size: 24px;
    font-family: "Poppins SemiBold";
    margin: 5%;
    padding: 5%
}
.Resume{
    margin-bottom: 1rem;
    padding:4% 6%;
    font-size: .5rem;
    color: white;
    border-radius:6px;
    border:1px solid #eaeaea;
    box-shadow:  1px #626262;
    transition: .4s;
    background-color: rgb(86, 85, 85);
}
.Resume:hover{
    background-color:#181818;
    border:2px solid white;
    color:blanchedalmond;
    box-shadow: 2px 2px 1px white;
}
.icons i{
    margin: 5%;
    padding: 2%; 
}
.icons i:hover{
    transform: scale(1.5);
}
@media only screen and (max-width: 550px) {
    .Resume{
     font-size: .6rem; 
    }    
    .profile-details-name{
        font-size: .6rem;
    }
 }
